body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
}

label {
  display: inline-block;
  width: 100px;
}


button {
  font-size: 16px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

.side-bar {
    height: 50rem; /* Full-height: remove this if you want "auto" height */
    width: 23rem; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 6rem; /* Stay at the top */
    right: 2rem;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 1px;


}

.nav-bar-top {
    height: 2.5rem; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed;
    left: 0rem;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */

}

.nav-bar-title {
  display: flex;
  font-size: larger;
  padding-left: 1.25rem;
  padding-top: .613rem;
}

.nav-bar-user {
  position: fixed;
  right: 1.25rem;
  top: 0;
  font-size: medium;
  padding-left: 1.25rem;
  padding-top: .613rem;
}

.tab {
    width: 33.33333%;
    height: 4rem;
    background: white;
    outline: none;
}

.tab.active {
  background: lightgray;
}

.selected-pixel-section {
  margin-top: 2rem;
  width: 21rem;
  margin-left: 1rem;
  min-height: 5rem;
  max-height: 25rem;
  border: 1px solid black;
  display: block;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.selected-pixel-header {
  margin-top: -0.5rem;
  padding: 0.5rem;
  padding-left: 5rem;
  width: 21rem;
  height: 1.5rem;
  border-bottom: 1px solid black;

}

.expand-button {
  margin-left: 7rem;
  border: none;
  outline: none;
}

.selected-pixel-area {
  display: flex;
  flex-wrap: wrap;
}
.selected-pixel {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-wrap: wrap;

  margin: 0.25rem;
}

.big-selected {
  display: flex;
  padding: 1rem;
  width: 100%;
  border: solid 1px black;
}

.price-label {
  display: inline-block;
  padding-left: 2rem;
  margin-top: 1rem;
}

.remove-button {
  margin-top: 1rem;
  font-size: smaller;
  border: 1px solid black;
  background: white;
  margin-left: 4rem;
  height: 2rem;
  border-radius: 5px;
  outline: none;
}

.arrow {
  height: 2rem;
  width: 2rem;
  color: white;
  position: fixed;
  right: 0;
  margin-left: 10px;
  cursor: pointer;
}

.action-button {
  padding: 1rem;
  border-radius: 5px;
}

.transaction-info {
  padding: 2rem;
  overflow: hidden;
  display: block;
}


.transaction-input {
  width: 50%;
  height: 1rem;
  margin: 0.5rem;
}

.price-input {
  width: 70%;
  height: 1rem;
  margin: 0.5rem;
}
