body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
}

label {
  display: inline-block;
  width: 100px;
}


button {
  font-size: 16px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

.side-bar {
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 1px;
    margin-left: 3rem;
    height: 100%;
    box-shadow: 0px 0px 5px black;
    border-radius: 3px;
}

.nav-bar-top {

  height: 2.8rem; /* Full-height: remove this if you want "auto" height */
  width: 100%; /* Set the width of the sidebar */
  position: fixed;
  left: 0rem;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #3c4955;;
  overflow-x: hidden; /* Disable horizontal scroll */
  box-shadow: 0px 0px 2px;
}

.nav-bar-title {
  display: flex;
  font-size: larger;
  padding-left: 1.25rem;
  padding-top: .613rem;
  color: white;
}

.nav-bar-about {
  position: fixed;
  right: 2.25rem;
  padding-left: 1.25rem;
  top: 11px;
  font-size: 16px;
  color: white;
}

.tab {
    width: 33.33333%;
    height: 2rem;
    background: #f7f7f7;
    outline: none;
    border-radius: 2px;
    box-shadow: 1px -3px 0px;
}

.tab.active {
  background: white;
  border: none;
}

.total-amount {
  font-size: 22px;
}

.selected-pixel-section {
  margin-top: 2rem;
  width: 80%;
  margin-left: 1rem;
  min-height: 5rem;
  max-height: 10rem;
  border: 1px solid black;
  display: block;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.selected-pixel-header {
  padding: 0.1rem;
  width: 100%;
  height: 1.5rem;
  border-bottom: 1px solid black;
  display: flex;
}

.selected-pixel-header div {
  margin-left: 5px;
}

.expand-button {
  border: none;
  outline: none;
  float: right;
  margin-left: 20px;
  border: 1px solid grey;
  border-radius: 50%;
}

.selected-pixel-area {
  display: flex;
  flex-wrap: wrap;
  max-height: 30%;
}
.selected-pixel {
  width: 1rem;
  height: 1rem;
  display: flex;
  flex-wrap: wrap;

  margin: 0.25rem;
}

.big-selected {
  display: flex;
  width: 100%;
  border: solid 1px black;
}

.price-label {
  display: inline-block;
}

.remove-button {
  font-size: 9px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  margin: 0.1rem;
  margin-left: 2.5rem;
  color: white;
  background-color: #f1534f;
}

.arrow {
  font-size: 41px;
  padding: 50px 9px;
  color: white;
  position: fixed;
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  top: 16rem;
  background: #3c4955;
  box-shadow: black 0px 0px 3px;
}

.action-button {
  padding: 1.2rem;
  border-radius: 5px;
  font-size: 40px;
  width: 200px;
  background-color: #2baae1;
  box-shadow: black 0px 2px 4px;
  color: white;
  margin-top: 100px;
}

.button-line {
  padding: 1rem;
  text-align: center;
}

.transaction-info {
  padding: 2rem 1rem;
  overflow: hidden;
  display: block;
}


.transaction-input {
  width: 100%;
  height: 1rem;
}

.price-input {
  width: 70%;
  height: 1rem;
  margin: 0.5rem;
}

.highlighted-pixel {
  border: 10px solid yellow;
  color: white;
}

.form-line {
  display: flex;
  margin-bottom: 1rem;
}

.plus-sign {
  width: 2.5rem;
    height: 1.5rem;
    background-color: lightgray;
    position: fixed;
    top: 18rem;
    left: 13rem;
    text-align: center;
    padding-top: -10px;
    font-size: xx-large;
    color: grey;
    padding-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 7px grey solid;
    box-shadow: 1px 1px 1px 1px;
  }

  .minus-sign {
    width: 2.5rem;
    height: 1.5rem;
    background-color: lightgray;
    position: fixed;
    top: 23rem;
    left: 13rem;
    text-align: center;
    padding-top: -10px;
    font-size: xx-large;
    color: grey;
    padding-bottom: 22px;
    border-radius: 7px grey solid;
    border: 1px solid lightgray;
    border-radius: 5px grey solid;
    box-shadow: 1px 1px 1px 1px;

}
